.landing-page-main-grid {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas: 
    "info side-login";
  height: 100vh;
}

.info-area {
  grid-area: info;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "first"
    "second"
    "third";
  color: #fff;
  text-align: center;
  background-image: linear-gradient(to bottom right,
  rgba(39, 39, 39, 0.8),
  rgba(29, 29, 29, 0.8)),
  url(https://kylegrant76.files.wordpress.com/2015/12/top-10-movies-people-in-movie-theater-with-3d-glasses.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.info-message {
  grid-area: second;
  align-self: center;
}

.side-login {
  grid-area: side-login;
  display: grid;
  grid-template-rows: 0.5fr 1fr 0.3fr;
  grid-template-areas: 
    "logo"
    "loginform"
    "signup-btn";
  color: #8b8b99;
  background-color: #212032;
  text-align: center;
  font-size: 1.6rem;
}

.buvie-landing-logo {
  grid-area: logo;
  color: #fff;
  align-self: center;
  justify-self: center;
  width: 20rem;
}

.landing-login-form {
  grid-area: loginform;
  font-size: 2rem;
  align-self: center;
}

.signup-button {
  grid-area: signup-btn;
  font-size: 1rem;
  align-self: flex-start;
}

.landing-login-form input {
  border: none;
  background-color: #212032;
  border-bottom: 0.1rem solid #8b8b99;
}